@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Outfit:wght@300;400;600;700&display=swap');  
.attribution { font-size: 11px; text-align: center; margin-top: 4em;}
.attribution a { color: hsl(228, 45%, 44%); }
body{
  min-height: 100vh;
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
}
.wrapper{
  display: flex;
  justify-content: center;
}
.card{
  width: 40%;
  background: #fff;
  padding: 1.4em;
  border-radius: 10px;
}
.card img{
  width: 100%;
  border-radius: 10px;
}
.text-cont{
  padding: 0 1em;
  text-align: center;
  letter-spacing: 1px;
} 
.text{
  color: rgba(83, 79, 79, 0.752);
}
.footer{
  border: 1px solid red;
}